/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */

:root {
  /* Add these styles to your global stylesheet, which is used across all site pages. You only need to do this once. All elements in the library derive their variables and base styles from this central sheet, simplifying site-wide edits. For instance, if you want to modify how your h2's appear across the site, you just update it once in the global styles, and the changes apply everywhere. */
  /* --primary: #2e6f40; */
  --primary: #d214bc;
  --primaryDark: #b32766;
  --primaryLight: #9effdf;

  --accent: #d214bc;
  --accent-secondary: rgb(70, 151, 232);
  --headerColor: #1a1a1a;
  --bodyTextColorWhite: #fafbfc;
  --gray-light: 229, 233, 240;
  --gray-lighter: #767676;
  --gray-dark: 34, 41, 57;
  --gray-gradient: radial-gradient(
    circle,
    rgba(60, 60, 60, 1) 0%,
    rgba(18, 18, 18, 1) 100%
  );
  --primary-gradient: radial-gradient(
    circle,
    rgb(72, 228, 223) 0%,

    var(--primary) 100%
  );
  /* 13px - 16px */
  --topperFontSize: clamp(0.8125rem, 1.6vw, 1rem);
  /* 31px - 49px */
  --headerFontSize: clamp(1.9375rem, 3.9vw, 3.0625rem);
  --bodyFontSize: 1rem;
  /* 60px - 100px top and bottom */
  --sectionPadding: clamp(3.75rem, 7.82vw, 6.25rem) 1rem;

  --max-width-mobile: clamp(20rem, 90vw, 30rem);
  --max-width: 1200px;
}

body {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  /* prevents padding from affecting height and width */
  box-sizing: border-box;
}
@font-face {
  font-family: "Shree Devanagari 714";
  src: url("/fonts/shree-devanagari-714.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Shree Devanagari 714";
  src: url("/fonts/shree-devanagari-714.ttf") format("ttf");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
body {
  font-family: "Shree Devanagari 714", sans-serif;
  margin: 0;
  padding: 0;
  text-align: left;
  background-size: 100% 600px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  color: rgb(var(--gray-dark));
  font-size: 20px;
  line-height: 1.7;
}
main {
  margin: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 0.5rem 0;
  color: rgb(var(--black));
  line-height: 1.2;
}
h1 {
  font-size: 3.052em;
}
h2 {
  font-size: var(--headerFontSize);
  font-weight: 900;
  line-height: 1.2em;
  text-align: inherit;
  margin: 0 0 1rem 0;
  color: var(--headerColor);
  position: relative;
}
h3 {
  font-size: 1.953em;
}
h4 {
  font-size: 1.563em;
}
h5 {
  font-size: 1.25em;
}
strong,
b {
  font-weight: 700;
}
a {
  color: var(--accent);
}
a:hover {
  color: var(--accent);
}
p {
  margin-bottom: 1em;
}
.prose p {
  margin-bottom: 2em;
}
textarea {
  width: 100%;
  font-size: 16px;
}
input {
  font-size: 16px;
}
table {
  width: 100%;
}
img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}
code {
  padding: 2px 5px;
  background-color: rgb(var(--gray-light));
  border-radius: 2px;
}
pre {
  padding: 1.5em;
  border-radius: 8px;
}
pre > code {
  all: unset;
}
blockquote {
  border-left: 4px solid var(--accent);
  padding: 0 0 0 20px;
  margin: 0;
  font-size: 1.333em;
}
hr {
  border: none;
  border-top: 1px solid rgb(var(--gray-light));
}
@media (max-width: 720px) {
  body {
    font-size: 18px;
  }
}

.sr-only {
  border: 0;
  padding: 0;
  margin: 0;
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  /* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
  clip: rect(1px 1px 1px 1px);
  /* maybe deprecated but we need to support legacy browsers */
  clip: rect(1px, 1px, 1px, 1px);
  /* modern browsers, clip-path works inwards from each corner */
  clip-path: inset(50%);
  /* added line to stop words getting smushed together (as they go onto separate lines and some screen readers do not understand line feeds as a space */
  white-space: nowrap;
}

.cs-topper {
  font-size: var(--topperFontSize);
  line-height: 1.2em;
  text-transform: uppercase;
  text-align: inherit;
  letter-spacing: 0.1em;
  font-weight: 700;
  color: var(--primary);
  margin-bottom: 0.25rem;
  display: block;
}

.cs-text {
  font-size: 1.25rem;
  line-height: 1.5em;
  text-align: inherit;
  width: 100%;
  /* 464px - 622px */
  max-width: clamp(29rem, 60vw, 38.785rem);
  margin: 0 0 2.5rem 0;
  color: var(--gray-lighter);
}

.cs-button-solid {
  position: relative;
  display: inline-block;
  font-size: 1rem;
  line-height: clamp(2.875em, 5.5vw, 3.5em);
  text-align: center;
  overflow: hidden;
  margin: 0;
  min-width: 9.375rem;
  padding: 0 1.5rem;
  color: #fff;
  background-color: var(--primary);
  border: none;
  border-radius: 0.25rem;
  box-sizing: border-box;
  transition: color 0.3s;
  z-index: 1;
  text-decoration: none;
  font-weight: 700;
}

.cs-button-solid::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #1a1a1a;
  opacity: 1;
  display: block;
  border-radius: inherit;
  transition: width 0.3s;
  z-index: -1;
}

.cs-button-solid:hover {
  color: #fff;
}

.cs-button-solid:hover::before {
  width: 100%;
}

.cs-button-outline {
  display: inline-block;
  font-size: 1rem;
  line-height: 3rem;
  overflow: hidden;
  margin: 0;
  padding: 0 3rem;
  color: var(-primary);
  background-color: transparent;
  border: 1px solid var(--primary);
  border-radius: 0.25rem;
  transition: background-color 0.3s;
}

.cs-button-outline:hover {
  color: var(--bodyTextColorWhite);
}

.cs-button-outline::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: var(--primary);
}

.cs-button-outline:hover::before {
  width: 100%;
}
