---
import { Image } from "astro:assets";
import { SITE_TITLE } from "../consts";
import HeaderLink from "./HeaderLink.astro";
import logo from "../assets/logo-v3.svg";

const meetingLinkURL = "https://calendly.com/alexdollard141/30min";
---

<header>
  <nav>
    <a href="/"
      ><Image src={logo} alt={SITE_TITLE} width={200} class="logo" /></a
    >
    <div class="internal-links">
      <HeaderLink href="/">Home</HeaderLink>
      <HeaderLink href="/blog">Blog</HeaderLink>
      <HeaderLink href="/about">About</HeaderLink>
      <HeaderLink href="/contact">Contact</HeaderLink>
    </div>
    <div class="cta">
      <a href={meetingLinkURL} class="cs-button-solid">Book A Consultation</a>
    </div>
  </nav>
</header>
<style>
  header {
    margin: 0;
    padding: 1em 1em;
    background: white;
    box-shadow: 0 2px 8px rgba(var(--black), 5%);
  }

  .logo {
    border-radius: 0;
  }

  h2 {
    margin: 0;
    font-size: 1em;
  }

  h2 a,
  h2 a.active {
    text-decoration: none;
  }
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .internal-links {
    display: flex;
    gap: 1em;
    flex-wrap: wrap;
  }

  @media only screen and (max-width: 720px) {
    .logo {
      display: none;
    }

    .internal-links {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }

    header {
      display: none;
    }
  }
</style>
